<!-- {% load staticfiles %}
 -->
<!DOCTYPE html>
<html lang="en">

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width, intitial-scale=1">
	
	<title>Ability</title>

	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<!-- <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{%  static 'css/styles.css' %}" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
<!-- 	<body style="background-color:red;">
 -->	
	<div class = "col-md-12 items-margin">
		<h2 class = "text-center text-uppercase name">Name</h2>
	</div>
	<div class = "col-md-4">
		
	</div>
	<div class = "col-md-4">
		<br>
		<h5 class = " text-thin text-center text-uppercase "> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet lorem et magna egestas venenatis. Praesent efficitur orci leo, nec dignissim libero facilisis ut. Aenean pretium ornare nisl, nec convallis nunc volutpat et. Curabitur augue orci, fermentum eget nibh eget, ultrices bibendum sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas blandit sed justo in gravida. Duis in sapien at arcu pretium eleifend. Fusce pretium consectetur mauris non tempus. Donec nulla mauris, tincidunt ac quam nec, varius mattis nunc. Fusce scelerisque nulla sed lorem fermentum sollicitudin. Proin malesuada, risus quis tristique venenatis, massa metus sagittis nisl, quis placerat tortor dolor sit amet augue. Sed lectus quam, eleifend a pellentesque vestibulum, tincidunt nec nulla. Integer tincidunt quam id maximus porttitor. Integer malesuada erat sed elit tempor luctus. Morbi vitae odio mi.
		</h4>
		<br>

	</div>
</body>
</html>