<!-- {% load staticfiles %}
 -->
<!DOCTYPE html>
<html lang="en">

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width, intitial-scale=1">
	
	<title>Pokemon</title>

	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<!-- <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{%  static 'css/styles.css' %}" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
<!-- 	<body style="background-color:red;">
 -->	
 	<div class = "col-md-12">
		<img class = "img-responsive center-block sprite" src="http://cdn.bulbagarden.net/upload/thumb/7/7e/006Charizard.png/250px-006Charizard.png" alt = "Sprite">
	</div>
	<div class = "col-md-12">
		<h2 class = "text-center text-uppercase name">Charizard</h2>
	</div>
	<div class = "col-md-4">
		
	</div>
	<div class = "col-md-4">
		<br>
		<h5 class = " text-thin text-center text-uppercase ">
            Charizard, Spits fire that is hot enough to melt boulders. Known to cause forest fires unintentionally.
        </h5>
	</div>
</body>
</html>