<!-- {% load staticfiles %}
 -->
<!DOCTYPE html>
<html lang="en">

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width, intitial-scale=1">
	
	<title>Type</title>

	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<!-- <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{%  static 'css/styles.css' %}" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
<!-- 	<body style="background-color:red;">
 -->	
	<div class = "col-md-12 items-margin">
		<h2 class = "text-center text-uppercase name">Name</h2>
	</div>
	<div class = "col-md-2">
		
	</div>
	<div class = "col-md-8">
		
		<h2>Type Advantage Table</h2>
  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  		<table class="table">
  		  <thead>
  		    <tr>
  		      <th>Strong against</th>
  		      <th>Weak against</th>
  		      <th>No effect against</th>
  		      <th>Resistant to</th>
  		      <th>Weak to</th>
  		      <th>Isn't affected</th>
  		    </tr>
  		  </thead>
  		  <tbody>
  		    <tr>
  		      <td>John</td>
  		      <td>Doe</td>
  		      <td>john@example.com</td>
  		      <td>John</td>
  		      <td>Doe</td>
  		      <td>john@example.com</td>
  		    </tr>
  		    <tr>
  		      <td>John</td>
  		      <td>Doe</td>
  		      <td>john@example.com</td>
  		      <td>John</td>
  		      <td>Doe</td>
  		      <td>john@example.com</td>
  		    </tr>
  		    <tr>
  		      <td>John</td>
  		      <td>Doe</td>
  		      <td>john@example.com</td>
  		      <td>John</td>
  		      <td>Doe</td>
  		      <td>john@example.com</td>
  		    </tr>
  		    <tr>
  		      <td>John</td>
  		      <td>Doe</td>
  		      <td>john@example.com</td>
  		      <td>John</td>
  		      <td>Doe</td>
  		      <td>john@example.com</td>
  		    </tr>
  		    <tr>
  		      <td>John</td>
  		      <td>Doe</td>
  		      <td>john@example.com</td>
  		      <td>John</td>
  		      <td>Doe</td>
  		      <td>john@example.com</td>
  		    </tr>
  		    <tr>
  		      <td>John</td>
  		      <td>Doe</td>
  		      <td>john@example.com</td>
  		      <td>John</td>
  		      <td>Doe</td>
  		      <td>john@example.com</td>
  		    </tr>
  		  </tbody>
  		</table>

	</div>
</body>
</html>